---
import flutterIcon from "../assets/flutter.svg";
import swiftIcon from "../assets/swift.svg";
import kotlinIcon from "../assets/kotlin.svg";
import nextIcon from "../assets/next.svg";


import NodeIcon from "../assets/nodejs.svg";
import Django from "../assets/django.svg";
import SpringIcon from "../assets/spring.svg";
import ExpressIcon from "../assets/express.svg";

import Codemagic from "../assets/codemagic.svg";
import DockerIcon from "../assets/docker.svg";
import GithubActions from "../assets/github.svg";

import FirebaseIcon from "../assets/firebase.svg";
import MongoDBIcon from "../assets/mongodb.svg";
import PostgresIcon from "../assets/postgresql.svg";

---

<div class="bg-gray-50 dark:bg-gray-800 py-16">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-white">My Skills</h2>
    <p class="text-gray-600 dark:text-gray-400 mt-4">
      These are the technologies and tools I work with.
    </p>

    <!-- Frontend Section -->
    <div class="mt-12">
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
        Frontend
      </h3>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
        <div class="flex flex-col items-center">
          <img src={flutterIcon.src} alt="Flutter" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Flutter</p>
        </div>
        <div class="flex flex-col items-center">
          <img src={swiftIcon.src} alt="Flutter" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Swift</p>
        </div>
        <div class="flex flex-col items-center">
          <img src={kotlinIcon.src} alt="Flutter" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Kotlin</p>
        </div>
        <div class="flex flex-col items-center">
          <img src={nextIcon.src} alt="Flutter" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">NextJS</p>
        </div>
      </div>
    </div>

    <!-- Backend Section -->
    <div class="mt-12">
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
        Backend
      </h3>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
        <div class="flex flex-col items-center">
          <img src={NodeIcon.src} alt="Backend" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Node.js</p>
        </div>

        <div class="flex flex-col items-center">
          <img src={Django.src} alt="Backend" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Django</p>
        </div>

        <div class="flex flex-col items-center">
          <img src={SpringIcon.src} alt="Backend" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">SpringBoot</p>
        </div>

        <div class="flex flex-col items-center">
          <img src={ExpressIcon.src} alt="Backend" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">ExpressJS</p>
        </div>
      </div>
    </div>

    <!-- DevOps Section -->
    <div class="mt-12">
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
        DevOps
      </h3>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
        <div class="flex flex-col items-center">
          <img src={DockerIcon.src} alt="DevOps" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Docker</p>
        </div>
        <!-- Add more DevOps skills -->
        <div class="flex flex-col items-center">
          <img src={Codemagic.src} alt="DevOps" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">CodeMagic</p>
        </div>
        <div class="flex flex-col items-center">
          <img src={GithubActions.src} alt="DevOps" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Github Actions</p>
        </div>
      </div>
    </div>
    <!-- Tools and Databases Section -->
    <div class="mt-12">
      <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
        Tools and Databases
      </h3>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-8">
        <div class="flex flex-col items-center">
          <img src={FirebaseIcon.src} alt="DevOps" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">Firebase</p>
        </div>
        <div class="flex flex-col items-center">
          <img src={MongoDBIcon.src} alt="DevOps" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">MongoDB</p>
        </div>
        <div class="flex flex-col items-center">
          <img src={PostgresIcon.src} alt="DevOps" class="w-16 h-16" />
          <p class="mt-4 text-gray-800 dark:text-white">PostgreSQL</p>
        </div>
      </div>
    </div>
  </div>
</div>
